/*--------------font styles for throughout website----------*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

h2, h3 {
    font-family: "Lato", sans-serif;
    font-size: 30px; 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

/*------------------navbar----------------------*/

.navbar {
    background-color: #245099;
    width: 100%;
}


.nav .nav-link {
    font-weight: bold;
    color: #fff !important;
}

.nav .nav-link:hover {
    color: #c4cad6 !important;
}

/*----------hero image--------------------------*/

#hero-image {
    background-image: url(../images/hero-sky.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
}

.intro {
    position: absolute;
    bottom: 20%;
    right: 0;
    margin-right: 40px;
    margin-left: 20px;
}

.intro .hero-btn {
    background-color: #EE6D6D;
    color: #000;
    font-weight: bold;
    margin-left: 15px;
}

/*-------------section 1--------------------------------------------*/

.section-one, .contact-form {
    background-color: #c4cad6;
    text-align: center;
}

.profile-img {
    background-image: url(../images/profile.jpg);
    width: 260px;
    height: 260px;
    border-radius: 130px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: #245099;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-box p {
    text-align: left;
}

/*-----------slideshow images--------------------*/
.slideshow-container {
    position: relative;
    margin: auto;
  }

.firstSlide, .secondSlide {
    display: none;
}

.firstSlide img {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 20px;
    color: #245099;
    font-weight: bold;
    font-size: 35px;
    user-select: none;
    text-decoration: none;
  }
  
  .next {
    right: 0;
  }

  .prev {
      left: 0;
  }

/*------------section 2--------------------------*/

.test-box {
    margin: 20px;
    padding: 30px;
    border-style: solid;
    border-radius: 30px;
    background-color: #c4cad6;
    text-align: center;
}

.test-box img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.test-box p {
    text-align: left;
}

.video {
    margin-top: 20px;
}

.video .instagram-media {
    min-width: 200px !important;
}

.pack-box1 i, .pack-box2 i {
    font-size: 60px;
    padding: 15px;
}

.pack-box1, .pack-box2 {
    text-align: center;
    border-width: 20px;
    border-radius: 60px;
    border-style: solid;
    border-color: #fff;
    background-color: #c4cad6;
    padding: 30px;
}


/*----------contact form----------------------------------*/

.contact-form {
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

.radio-btn {
    margin-left: 20%;
}

/*-----------footer-------------------------------*/

footer {
    background-color: #245099;
    color: #fff;
    padding: 15px;
}

.social-network li{
    display: inline;
}

.social-network i {
    font-size: 30px;
    padding-right: 30px;
    padding-top: 20px;
    color: #fff;
}


/*-----------mobile device---------------------------*/

@media only screen and (max-width: 600px) {
    .slides img {
        height: 275px;
  }
}